<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <title>About</title>
</head>
<body class="about">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Pierce Brosnan</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/works">Works</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <h1>About</h1>
    <p>Pierce Brendan Brosnan OBE (/ˈbrɒsnən/; born 16 May 1953)[1] is an
        Irish actor and film producer. He is best known as the fifth actor to
        play secret agent James Bond in the Bond film series, starring in four
        films from 1995 to 2002 (GoldenEye, Tomorrow Never Dies, The World Is
        Not Enough, and Die Another Day) and portraying the character in multiple
        video games.
    </p>
    <div class="early-life">
        <h2>Early life</h2>
        <p> After leaving school at 16, Brosnan decided to be a painter and
            began training in commercial illustration at Saint Martin's School of
            Art in London.[16][17] While attending a rehearsal for a workshop at
            the Oval House, he saw a fire eater teaching people how to eat fire
            and decided to join in.[18] He later trained for three years as an
            actor at the Drama Centre London.[19] Describing the feeling of
            becoming an actor and the influence it had on his life, he said,
            "When I found acting, or when acting found me, it was a liberation.
        </p>
    </div>
    <div class="james-bond">
        <h2>James Bond</h2>
        <p> Brosnan returned in 1997's Tomorrow Never Dies and 1999's The World Is
            Not Enough, which were also successful. In 2002, Brosnan appeared for
            the fourth time as Bond in Die Another Day, receiving mixed reviews
            similarly to the former two, but was a success at the box office.
            Brosnan himself subsequently criticised many aspects of his fourth Bond movie.
            During the promotion, he mentioned that he would like to continue his role
            as James Bond: "I'd like to do another, sure.
            Shortly after the release of Die Another Day, the media began questioning
            whether or not Brosnan would reprise the role for a fifth time. At that time,
            Brosnan was approaching his 50th birthday. Brosnan kept in mind that both fans
            and critics were very unhappy with Roger Moore playing the role until the age
            of 57, but he was receiving popular support from both critics and the franchis
            fanbase for a fifth instalment. For this reason, he remained enthusiastic
            about reprising his role.
        </p>
    </div>
      <script src="app.js"></script>
</body>
</html>